<h2>welcome to pizza shop</h2>
<!-- <p><button class="btn btn-primary" onclick="add_to_cart()">Добавить в корзину</button></p> -->

<div class="row">

	<% @products.each do |p| %>
		<div class="col-md-3">
			<div>
			<h4><%= p.title %></h4>
			</div>
			<div >
				<img height="200" width="200" src="<%= p.path_to_image %>"/>
			</div>
			<div >
				<%= p.description %>
			</div>
			<div >
				Размер: <%= p.size %> см
			</div>
			<div >
				Цена: <%= p.price %> руб
			</div>
			<div >
				<button class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)">Добавить в корзину</button>
			</div>
		</br>
		</div>
	<% end %>

</div>



